* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.logo {
  /* background-color: #80FF00; */
  /* padding-left: 10rem; */
  padding-top: 1rem;
  height: 10rem;
  /* width: 2rem; */
}
.pfp {
  border: solid black 1px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.homelogo {
  /* border: solid black 1px; */
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.flag {
  /* height: 5rem; */
  width: 5rem;
}
body {
  font-family: 'Source Serif 4', serif;
  color: #36454f;
  background-color: #eeeded;
  min-height: fit-content;
  min-width: fit-content;
  display: grid;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: start;
  align-items: center;
  justify-items: center;
  row-gap: 10.5rem;
  /* flex-direction: column; */
}
.header1 {
  display: flex;
}

header {
  /* color: #36454f; */
  /* box-shadow: 2rem 3rem 1rem rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 4rem;
  align-items: center;
  gap: 0.75rem;
}

.home-page {
  text-decoration: none;
  color: inherit;
}
.home-page:visited {
  /* font-style: normal; */
  color: inherit;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.btn-stats {
  font-family: 'Source Serif 4', serif;
  border: none;
  font-size: 2.5rem;
  padding: 2rem 5rem;
  border-radius: 50px;
  color: white;
  background-color: #7524c0;
  cursor: pointer;
}
.btn-stats:hover {
  border: none;
  /* font-size: 2rem; */
  padding: 2rem 5rem;
  /* border-radius: 1rem; */
  color: white;
  background-color: #571a91;
  cursor: pointer;
}
.btn-stats:active {
  transform: translate(-1.5%, 0.25px);
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
  background-color: #571a91;
  color: white;
  /* font-weight: bolder; */
}
.textbox {
  border: 1.5px solid rgb(107, 107, 107);
  width: 50rem;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 5rem;
  color: rgb(117, 117, 117);
  /* margin-top: 15rem; */
  margin-bottom: 3rem;
  background-color: #ffffff;
  transition: opacity 0.25s;
}

.stats {
  /* box-shadow: 2rem 3rem 1rem rgba(0, 0, 0, 0.1); */
  /* font-size: 5rem; */
  border-radius: 0.7rem;
  margin: 0 1rem 1rem 3rem;
  padding: 3rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: 40rem 40rem;
  column-gap: 10rem;
  row-gap: 2rem;
  justify-items: center;
  align-content: center;
}

.stat {
  border: solid rgb(48, 48, 48) 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 40rem;
  font-size: 3.25rem;
  border-radius: 2rem;
  background-color: #fff;
  margin: 1rem 1rem 1rem 1rem;
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition: opacity 0.25s; */
}
.ratings {
  box-sizing: content-box;
  font-size: 2.5rem;
  /* margin-right: 6rem; */
}
/* h2{
  font-size: 5rem;
} */

/* body:background {
  height: 1000px;
  width: 1000px;
} */
.article {
  display: flex;
  /* align-items: center; */
}
.profile {
  background-color: #36454f;
  color: #f5fffa;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border: solid #36454f 3px;
  margin-top: 3rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 25rem;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* flex-wrap: wrap; */
  align-items: center;
  grid-gap: 2rem;
  /* transition: opacity 0.25s; */
}

.error {
  width: 50rem;
  margin-top: 25rem;
  font-size: 3rem;
  /* transition: opacity 0.5s; */
}
.graph {
  background: rgb(48, 48, 48);
}
.legend {
  width: 40rem;
  margin-top: 1rem;
  font-size: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
}
.win {
  border: solid rgb(48, 48, 48) 0.15rem;
  height: 2rem;
  width: 2rem;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* align-content: center; */
  border-radius: 100%;
  background-color: #80ff00;
}
.draw {
  border: solid rgb(48, 48, 48) 0.15rem;
  height: 2rem;
  width: 2rem;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* align-content: center; */
  border-radius: 100%;
  background-color: #fcf75e;
}
.loss {
  border: solid rgb(48, 48, 48) 0.15rem;
  height: 2rem;
  width: 2rem;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* align-content: center; */
  border-radius: 100%;
  background-color: #ff2400;
}
.socials {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.social {
  /* padding : 0.1rem 0.1rem 0.1rem 0.1rem; */
  height: 2.5rem;
  /* width: 2.5rem; */
}
footer {
  height: 3rem;
  display: grid;
  font-size: 2rem;
  grid-template-columns: auto auto;
  column-gap: 20rem;
  justify-content: space-between;
}

.social-link:link {
  text-decoration: none;
  padding-top: 1rem;
}
.credit {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.credit-img {
  gap: 0;
  height: 3rem;
}
