* {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.pfp {
  border: solid black 1px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.homelogo {
  /* border: solid black 1px; */
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.flag {
  height: 30px;
  width: 30px;
}
body {
  /* background-blend-mode: darken; */
  /* background-image: url('img/img_1.jpeg'); */
  /* background-repeat: no-repeat; */
  /* background-size: 2000px 1000px; */
  font-family: 'Source Serif Pro', sans-serif;
  color: #36454f;
  background-color: #eeeded;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  /* color: #36454f; */
  display: flex;
  margin-top: 3rem;
  font-size: 40px;
  align-items: first baseline;
}

.home-page {
  text-decoration: none;
  color: inherit;
}
.home-page:visited {
  /* font-style: normal; */
  color: inherit;
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.btn-stats {
  font-family: 'Source Serif Pro', sans-serif;
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 50px;
  color: white;
  background-color: #7524c0;
  cursor: pointer;
}
.btn-stats:hover {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  /* border-radius: 1rem; */
  color: white;
  background-color: #571a91;
  cursor: pointer;
}
.btn-stats:active {
  transform: translate(-1.5%, 0.25px);
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
  background-color: #571a91;
  color: white;
  /* font-weight: bolder; */
}
.textbox {
  border: 1.5px solid rgb(107, 107, 107);
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 50px;
  color: rgb(117, 117, 117);
  margin-top: 25rem;
  margin-bottom: 3rem;
  background-color: #ffffff;
  transition: opacity 0.25s;
}

.stats {
  /* background-color: #fff; */
  /* box-shadow: 2rem 3rem 1rem rgba(0, 0, 0, 0.1); */
  font-size: 28px;
  border-radius: 0.7rem;
  margin: 0 1rem 1rem 3rem;
  padding: 3rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: 40rem 40rem;
  grid-gap: 3rem;
}

.stat {
  width: 34rem;
  border-radius: 0.7rem;
  background-color: #fff;
  /* margin: 1rem 1rem 1rem 1rem; */
  padding: 3rem 3rem 3rem 3rem;
  transition: opacity 0.25s;
}
.ratings {
  box-sizing: content-box;
  margin-left: 6rem;
}

/* body:background {
  height: 1000px;
  width: 1000px;
} */

.profile {
  background-color: #36454f;
  color: #f5fffa;
  /* border: solid rgb(117, 117, 117) 5px; */
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 25rem;
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* flex-wrap: wrap; */
  align-items: center;
  grid-gap: 2rem;
  transition: opacity 0.25s;
}

.error {
  margin-top: 25rem;
  font-size: 28px;
  transition: opacity 0.5s;
}
